certifi==2023.5.7
charset-normalizer==3.2.0
idna==3.4
imageio==2.31.1
lazy_loader==0.3
networkx==3.1
numpy==1.25.1
opencv-contrib-python==4.8.0.74
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
packaging==23.1
Pillow==10.0.0
PyWavelets==1.4.1
requests==2.31.0
scikit-image==0.21.0
scipy==1.11.1
tifffile==2023.7.10
urllib3==2.0.3
wget==3.2